In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
experiment = "experiment_trafficlights"

### Reading input data

In [45]:
with open(f'traffic/input_files/{experiment}/traffic.json', "r") as read_file:
    drivers_input_data = json.load(read_file)
with open(f'traffic/input_files/{experiment}/drivers.json', "r") as read_file:
    traffic_input_data = json.load(read_file)
with open(f'traffic/input_files/{experiment}/lights.json', "r") as read_file:
    lights_input_data = json.load(read_file)

### Reading output data

In [46]:
agent_data = pd.read_csv(f'traffic/output_files/{experiment}/agent_data.csv')
agent_data.head()

,Step,AgentID,X,Y,Velocity,Current_lane,Is_alive
0,1,0,0.272264,33.333333,[0.61548076 0. ],0,True
1,1,1,0.060217,100.000000,[0.39023224 0. ],1,True
2,1,2,0.000000,100.000000,[0.60334443 0. ],1,False
3,1,3,0.000000,100.000000,[0.56769634 0. ],1,False
4,1,4,0.000000,33.333333,[0.57745016 0. ],0,False

## Flow rate

#### Flow rate: The flow rate is the number of cars that pass a certain point per unit of time.

In [47]:
nodes = []
for node in lights_input_data:
    nodes.append(node["pos"])
print("The x positions of nodes:")
print(nodes)

The x positions of nodes:
[0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200]

In [50]:
t_start = 851
t_end = 5589
measure_point_x = 500
accepted_dist_delta = 10

# A function to calculate flow_rates easy
def calc_flow_rate(t_start,t_end,measure_point_x,accepted_delta):
    return agent_data[(agent_data["Is_alive"]==True)&(agent_data["Step"]>t_start)&(agent_data["Step"]<t_end)&(abs(agent_data["X"]-measure_point_x)<accepted_dist_delta)].drop_duplicates("AgentID").shape[0]


fr = calc_flow_rate( t_start = t_start,
                t_end = t_end,
                measure_point_x = measure_point_x,
                accepted_delta = accepted_dist_delta)

print("flow rate = ",fr)
print(f"Between {t_start} and {t_end} timestamps, there was {fr} cars at point {measure_point_x} with rounding to {accepted_dist_delta}")

flow rate =  50
Between 851 and 5589 timestamps, there was 50 cars at point 500 with rounding to 10

In [51]:
## Rolling average 

def flow_rate_running_avg(t_start, t_end, measure_point_x, accepted_dist_delta, window_size,running_step=100):
    flow_rates = []
    for t in range(t_start, t_end + 1-window_size,running_step):
        flow_rates.append(calc_flow_rate(t, t + window_size, measure_point_x, accepted_dist_delta)) # there was error so i changed flow_rate to calc_flow_rate
    running_avg = sum(flow_rates) / len(flow_rates)
    print(flow_rates) # check it out, A.
    return running_avg

flow_rate_running_avg(851,5589,500,1000,1000)

[11, 10, 9, 11, 12, 11, 10, 10, 10, 11, 10, 11, 11, 12, 11, 10, 11, 12, 14, 12, 12, 13, 15, 15, 14, 14, 16, 14, 12, 12, 12, 11, 9, 10, 12, 10, 10, 8]

11.526315789473685

## Density
#### Density: Traffic density is the number of cars per unit length of the road at any instant.

In [52]:
x_start = 500
x_end = 600
time = 2000
def calc_density(x_start,x_end,time):
    return agent_data[(agent_data["Is_alive"]==True)&(agent_data["X"]>x_start)&(agent_data["X"]<x_end)&(agent_data["Step"]==time)].drop_duplicates("AgentID").shape[0]/(x_end-x_start)
d = calc_density(x_start,x_end,time)

# density at time 2000 between  two given nodes (their x_positions)
print(f"The number of cars between pos_x {x_start} and {x_end}, at time {time}, divided by the distance of {x_end-x_start} is equal {d}")

The number of cars between pos_x 500 and 600, at time 2000, divided by the distance of 100 is equal 0.02

In [53]:
# rolling average

def density_running_avg(x_start,x_end,t_start, t_end, running_step=5):
    densities = []
    for t in range(t_start, t_end +1, running_step):
        densities.append(calc_density(x_start,x_end,t))
    running_avg = sum(densities) / len(densities)
    return running_avg

#running average for the same two nodes, using time range, not specific timestamp this time, the result should be simmilar
density_running_avg(500,600,851,5589)

0.025548523206751047

## Velocity

**Velocity: Average velocity of agents at some node at some instant**

*I realized that the velocities were being recorded in some strange format, I tried to look through the code to change the way in which they were being saved but I did not know how to do it. So, I decided to do it the naive way, and I managed to get averaged velocity of an experiment. 
Now I want to try to find a way of saving this data we are collecting and maybe plotting the outcomes of a couple experiments from this naive data.*

In [20]:
agent_data["Velocity"] = agent_data["Velocity"].astype('str')
type(agent_data["Velocity"][0])

str

In [54]:
t_start = 851
t_end = 5589
x_start = 500
x_end = 600


def calc_mean_velocity(agent_data_frame, t_start, t_end, x_start, x_end):
    agent_data["Velocity"] = agent_data["Velocity"].astype('str')
    series_of_velocities = agent_data[(agent_data["Is_alive"]==True)&(agent_data['X']>x_start)&(agent_data["X"]<x_end)&(agent_data["Step"]>t_start)&(agent_data["Step"]>t_end)]["Velocity"]
    for i in range(len(series_of_velocities)):
        data = series_of_velocities[i]
        if type(data) == str:
            data = series_of_velocities[i]
            data = data.lstrip('[')
            data = data.rstrip(' 0.       ]')
            data = float(data)
            series_of_velocities[i] = data
        elif type(data) == float:
            pass
        else:
            pass
        return np.mean(series_of_velocities)

velocities_per_agent = calc_mean_velocity(agent_data, 1019, 5875, 500, 600)
print(velocities_per_agent)

None

In [55]:
series_of_velocities = agent_data[(agent_data["Is_alive"]==True)&(agent_data['X']>x_start)&(agent_data["X"]<x_end)&(agent_data["Step"]>t_start)&(agent_data["Step"]>t_end)]["Velocity"]
series_of_velocities

Series([], Name: Velocity, dtype: object)

In [43]:
np.mean(series_of_velocities)

0.4472527560122694

In [56]:
agent_data

,Step,AgentID,X,Y,Velocity,Current_lane,Is_alive
0,1,0,0.272264,33.333333,[0.61548076 0. ],0,True
1,1,1,0.060217,100.000000,[0.39023224 0. ],1,True
2,1,2,0.000000,100.000000,[0.60334443 0. ],1,False
3,1,3,0.000000,100.000000,[0.56769634 0. ],1,False
4,1,4,0.000000,33.333333,[0.57745016 0. ],0,False
...,...,...,...,...,...,...,...
238489,7515,45,1198.719097,33.333333,[0.30044499 0. ],0,True
238490,7516,45,1199.019542,33.333333,[0.30044499 0. ],0,True
238491,7517,45,1199.319987,33.333333,[0.30044499 0. ],0,True
238492,7518,45,1199.620432,33.333333,[0.30044499 0. ],0,True
238493,7519,45,1199.920877,33.333333,[0.30044499 0. ],0,True

## Making a dataframe that collects the parameters and results of experiments we run?